@using Bookshop_v5.Models.Domain
@using Bookshop_v5.Models.DTO

@model PaginationViewModel<Book>

<div class="header-bottom pb--10">
   <div class="row align-items-center">
      <div class="col-lg-4">
         <nav class="category-nav   ">
            <div>
               <a href="javascript:void(0)" class="category-trigger"><i
                  class="fa fa-bars"></i>Browse
               categories <i style="margin-left: 50px;" class="fas fa-chevron-down"></i>
               </a>
               <ul class="category-menu">
                  <li class="cat-item" @if(Model.RouteValues["genre"] == 0){
                  <text>category-active</text>
                  }"><a href="/Book/Index?genreId=0">All Genres</a></li>  
                  @foreach (var genre in Model.Genres)
                  {
                  <li class="cat-item @if(Model.RouteValues["genre"] == genre.Id){
                  <text>category-active</text>
                  }"><a href="/Book/Index?genreId=@genre.Id">@genre.Name</a></li>
                  }
               </ul>
            </div>
         </nav>
      </div>
   </div>
</div>
<div class="shop-product-wrap grid with-pagination row space-db--30 shop-border">
   @foreach (var book in Model.Items){		
   <div class="col-lg-4 col-sm-6">
      <div class="product-card">
         <div class="product-grid-content">
            <div class="product-header">
               <a href="@Url.Action("Details", "Book", new { id = book.Id })" class="author">
               @book.Author.Name
               </a>
               <h3><a href="@Url.Action("Details", "Book", new { id = book.Id })">Here Is A Quick Cure For Book</a></h3>
            </div>
            <div class="product-card--body">
               <div class="card-image">
                  <img src="@book.Image" alt="">
                  <div class="hover-contents">
                     <a href="@Url.Action("Details", "Book", new { id = book.Id })" class="hover-image">
                     <img src="@book.Image" alt="">
                     </a>							
                  </div>
               </div>
               <div class="price-block">
                  <span class="price">@book.OldPrice</span>
                  <del class="price-old">@book.Price</del>
               </div>
            </div>
         </div>
      </div>
   </div>
   }
</div>